# **파일 호출 / 저장**

In [ ]:
# 각자 구글드라이브와 연결(연결했을 때 나오는 코드(비밀키) 복사/붙여넣기 하면 됨)

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

* 파일 호출

In [ ]:
# 파일 위치 확인 후 경로 복사

df= pd.read_csv('/content/drive/MyDrive/00__강의자료/데이터분석/실습자료/00_colab/02_데이터_전처리/과일가게.csv')

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

    Unnamed: 0   품목 크기    금액    수수료
0            0  바나나  중  2000  200.0
1            1  바나나  대  3000  300.0
2            2  바나나  중  2000  200.0
3            3  토마토  대  1500  150.0
4            4  토마토  소   500   50.0
..         ...  ... ..   ...    ...
95          95  토마토  소   500   50.0
96          96  토마토  중  1000  100.0
97          97  토마토  대  1500  150.0
98          98  바나나  중  2000  200.0
99          99  바나나  소  1000  100.0

[100 rows x 5 columns]

\- head() : 처음부터 5행까지 출력

In [ ]:
df.head(10)

   Unnamed: 0   품목 크기    금액    수수료
0           0  바나나  중  2000  200.0
1           1  바나나  대  3000  300.0
2           2  바나나  중  2000  200.0
3           3  토마토  대  1500  150.0
4           4  토마토  소   500   50.0
5           5  바나나  중  2000  200.0
6           6  바나나  소  1000  100.0
7           7   사과  중  3000  300.0
8           8  바나나  중  2000  200.0
9           9  토마토  소   500   50.0

\- tail : 뒤에서부터 5행까지 출력

In [ ]:
df.tail(10)

    Unnamed: 0   품목 크기    금액    수수료
90          90  토마토  소   500   50.0
91          91  바나나  중  2000  200.0
92          92   사과  중  3000  300.0
93          93  바나나  소  1000  100.0
94          94  토마토  중  1000  100.0
95          95  토마토  소   500   50.0
96          96  토마토  중  1000  100.0
97          97  토마토  대  1500  150.0
98          98  바나나  중  2000  200.0
99          99  바나나  소  1000  100.0

\- 첫 번째 열을 인덱스열로 삼고 싶을 경우

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/00__강의자료/2021_05_패스트캠퍼스_데이터분석/실습자료/00_colab/02_데이터_전처리/과일가게.csv', index_col = 0)

In [ ]:
df.head()

    품목 크기    금액    수수료
0  바나나  중  2000  200.0
1  바나나  대  3000  300.0
2  바나나  중  2000  200.0
3  토마토  대  1500  150.0
4  토마토  소   500   50.0

\- 구분자가 , 가 아닌 다른 기호인 경우 (csv 파일은 필드의 구분이 , 로 이루어져 있음) 
- 예를 들면, 아래와 같은 경우

![1.PNG]()

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/00__강의자료/2021_05_패스트캠퍼스_데이터분석/실습자료/00_colab/02_데이터_전처리/read_sep.txt', index_col = 0, sep = '|')

In [ ]:
df

       A   B   C
index
0      1  11  21
1      2  12  22
2      3  13  23

\- header 가 여러줄인 경우
- 아래와 같은 경우

![2.PNG]()

In [ ]:
# header = 1   ->   인덱스로 치면 0,1 번째 까지는 헤더고 나머지는 데이터

df = pd.read_csv('/content/drive/MyDrive/00__강의자료/데이터분석/실습자료/00_colab/02_데이터_전처리/read_multi_header.csv', header = 1)

In [ ]:
df

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [ ]:
df.columns

Index(['a', ' b', ' c'], dtype='object')

\- 데이터를 읽으면서 칼럼명을 추가하고 싶을 때

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/00__강의자료/데이터분석/실습자료/00_colab/02_데이터_전처리/make_column_name.csv', 
                 index_col = 0, names = ['품목', '크기', '금액', '수수료'])

In [ ]:
df.head()

    품목 크기    금액    수수료
0  바나나  중  2000  200.0
1  바나나  대  3000  300.0
2  바나나  중  2000  200.0
3  토마토  대  1500  150.0
4  토마토  소   500   50.0

\- 원하는 칼럼만 쓰고 싶을 때

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/00__강의자료/2021_05_패스트캠퍼스_데이터분석/실습자료/00_colab/02_데이터_전처리/과일가게.csv', usecols = ['품목', '크기'])

In [ ]:
df.head()

    품목 크기
0  바나나  중
1  바나나  대
2  바나나  중
3  토마토  대
4  토마토  소

* 파일 저장

In [ ]:
df.head()

    품목 크기
0  바나나  중
1  바나나  대
2  바나나  중
3  토마토  대
4  토마토  소

In [ ]:
df.to_csv('/content/drive/MyDrive/00__강의자료/데이터분석/실습자료/00_colab/02_데이터_전처리/make_csv.csv')